<%- include("partials/header.ejs") %>
<container class="py-4 px-4">
  <div class="card">
    <div class="gudetama card-header">
      <h2 class="knewaveFont">To Do List</h2>
      <img src="images/gudetama-butterfly.png" alt="Gudetama Butterfly" />
    </div>

    <form class="mx-3 my-3" action="/submit" method="POST">
      <div class="input-group \\">
        <input
          type="text"
          name="task"
          class="form-control"
          placeholder="Enter an item"
          required
        />

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">
            <i class="fas fa-plus"></i> Add
          </button>
        </div>
      </div>
    </form>

    <div>
      <%if (locals.list.length !== 0){ %>
      <ul class="list-group list-group-flush">
        <% for (var i = 0; i< list.length; i++) { %>
        <li class="list-group-item">
          <div class="list">
            <div><input type="checkbox" class="checkbox" /> <%= list[i] %></div>
            <div>
              <button
                type="button"
                class="btn btn-outline-secondary borderless"
                name="delete"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-x-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  ></path>
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <% } %>
      </ul>
      <% } else { %>
      <li class="list-group-item mx-4 pb-3">No Items to display</li>
      <% } %>
    </div>
  </div>
</container>

<%- include("partials/footer.ejs") %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const checkboxes = document.querySelectorAll(".checkbox");

    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", (event) => {
        const listItem = event.target.parentNode.parentNode; // Get the parent list item
        listItem.classList.toggle("strikethrough");
      });
    });
  });
</script>
